<div>
    <div class="panel panel-primary static-panel">
        <div class="panel-heading">
            <div class='btn-toolbar pull-right' style="display: inline-block;">
                <input type="text"
                       focus
                       id="searchInput"
                       name="searchInput"
                       ng-model="vm.searchTerm"
                       ng-model-options="{ debounce: 100 }"
                       placeholder="Type characters here to search."
                       class="form-control search-term responsive-button"
                       style="margin-left: 15px; width: 500px; display: inline-block; font-size: 1em;">
            </div>
            <div class="panel-heading-title">
                Live Raw Kepware Data Monitor - All Tags - Total Number of Changes = {{vm.totalChangeCount}}
            </div>
            <div class="panel-heading-subtitle">
                {{vm.subTitle}}
            </div>

        </div>
        <div class="panel-body" style="overflow: hidden; width: 100%">


            <div class="panel panel-primary " ng-repeat="tag in vm.tags" style="float:left; width:290px; background-color: rgba(100, 255, 100, .{{tag.LastUpdateCountDown}}); margin-bottom:5px; margin-right:5px;">
                <div class="panel-heading">
                    <div class="panel-heading-title">
                        {{tag.TagName.substring(0,3)}}
                    </div>
                    <div class="panel-heading-subtitle">
                        {{tag.TagName.substring(8)}}
                    </div>

                </div>
                <table class="table table-condensed">
                    <tr>
                        <!--------------------------------------------------------------------------->
                        <td class="record-display-field-label" style="width: 130px;">
                            Date and Time <i class="glyphicon glyphicon-arrow-right"></i>
                        </td>
                        <td class="record-display-field-value">
                            {{tag.LastObservationDate | date:'MM/dd HH:mm:ss.ss'}}
                        </td>

                    </tr>
                    <tr>
                        <!--------------------------------------------------------------------------->
                        <td class="record-display-field-label" style="width: 130px;">
                            Current Value <i class="glyphicon glyphicon-arrow-right"></i>
                        </td>
                        <td class="record-display-field-value">
                            {{tag.LastObservationTextValue}}
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div ui-view="contentPane"></div>
    </div>
</div>

