<div>
    <div class="panel panel-primary static-panel">
        <div class="panel-heading">
            <div class='btn-toolbar pull-right' style="display: inline-block;">
                <input type="text"
                       focus
                       id="searchInput"
                       name="searchInput"
                       ng-model="vm.searchTerm"
                       ng-model-options="{ debounce: 100 }"
                       placeholder="Type characters here to search."
                       class="form-control search-term responsive-button"
                       style="margin-left: 15px; width: 500px; display: inline-block; font-size: 1em;">
            </div>
            <div class="panel-heading-title">
                Data Flow Monitor - All Tags as Panels 
            </div>
            <div class="panel-heading-subtitle">
                Observations = {{vm.dataService.Statistics.SignalR.MessageCount}}. Observations Per Second = {{vm.dataService.Statistics.SignalR.MessagesPerSecond}}. Items drop off after 5 minutes of inactivity.
            </div>

        </div>
        <div class="panel-body repeater-container" style="overflow: hidden; width: 100%">

            <div vs-repeatxxx="120" vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()">
                <div class="panel panel-info" ng-repeat="tag in vm.tags" style="margin-top: 0; margin-right: 3px; width:460px; float: left;">
                    <div class="panel-heading">
                        <div class="panel-heading-title-dark">
                            {{tag.TagName.replace('Airport_', '')}}
                        </div>

                    </div>

                    <table class="table table-condensed">
                        <tr>
                            <!--------------------------------------------------------------------------->
                            <td class="record-display-field-label" style="width: 135px;">
                                Date and Time <i class="glyphicon glyphicon-arrow-right"></i>
                            </td>
                            <td class="record-display-field-value">
                                {{tag.LastObservationDate | date:'MM/dd HH:mm:ss.ss'}}
                            </td>

                        </tr>
                        <tr style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                            <!--------------------------------------------------------------------------->
                            <td class="record-display-field-label" style="width: 135px;">
                                Current Value <i class="glyphicon glyphicon-arrow-right"></i>
                            </td>
                            <td class="record-display-field-value">
                                {{tag.LastObservationTextValue}}
                            </td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

