<div>
    <div class="panel panel-primary static-panel">
        <div class="panel-heading">
            <div class='btn-toolbar pull-right' style="display: inline-block;">
                <input type="text"
                       focus
                       id="searchInput"
                       name="searchInput"
                       ng-model="vm.searchTerm"
                       ng-model-options="{ debounce: 100 }"
                       placeholder="Type characters here to search."
                       class="form-control search-term responsive-button"
                       style="margin-left: 15px; width: 500px; display: inline-block; font-size: 1em;">
            </div>
            <div class="panel-heading-title">
                Live Gate Asset Monitor
            </div>
            <div class="panel-heading-subtitle">
                Updates in Real-Time. Updates Observed = {{vm.dataService.Statistics.SignalR.MessageCount}}. Observations Per Second = {{vm.dataService.Statistics.SignalR.MessagesPerSecond}}.
            </div>

        </div>
        <div class="panel-body" style="overflow: hidden; width: 100%">

            <div ng-repeat="site in vm.sites">
                <div class="panel panel-primary" style="margin-top: 0; margin-right: 3px; width: 100%;">
                    <div class="panel-heading">
                        <div class="panel-heading-title">
                            {{::site.Name}}
                        </div>
                    </div>
                    <div class="panel-body" style="background-color: lightsteelblue;">
                        <div ng-repeat="terminal in site.terminalSystems">
                            <div class="panel panel-default" style="margin-top: 0; margin-right: 3px; width: 100%;">
                                <div class="panel-heading">
                                    <div class="panel-heading-title-dark">
                                        Terminal {{::terminal.Name}}
                                    </div>
                                </div>
                                <div class="panel-body" style="background-color:rgb(255, 232, 189);">
                                    <div class="grid">
                                        <div ng-repeat="gate in terminal.gateSystems" class="grid-item">
                                            <div class="panel panel-default" style="margin-top: 0; margin-right: 8px; width:575px;">
                                                <div class="panel-heading">
                                                    <div class="panel-heading-title-dark">
                                                        Gate <span style="font-size: 2.3em; font-weight: bolder;">{{::gate.Name}}</span>
                                                    </div>
                                                </div>

                                                <div class="panel-body" style="background-color: rgb(255, 255, 228); padding: 15px;">

                                                    <div ng-repeat="asset in gate.assets | orderBy: 'Name'">
                                                        <div class="panel panel-default" style="margin-top: 0; margin-right: 3px; width: 100%;">
                                                            <div class="panel-heading">
                                                                <div class="panel-heading-title-dark">
                                                                    <span style="font-size: 1.1em; font-weight: bolder;">{{::asset.Name}}</span>
                                                                </div>
                                                            </div>

                                                            <table class="table table-condensed">
                                                                <tr ng-repeat="tag in asset.recentTags" style="background-color:  {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                                                    <!--------------------------------------------------------------------------->
                                                                    <td class="record-display-field-label" style="min-width: 280px;">
                                                                        {{::tag.JBTStandardObservation.Name}} <i class="glyphicon glyphicon-arrow-right"></i>
                                                                    </td>
                                                                    <td class="record-display-field-value" style="width: 160px;">
                                                                        {{tag.LastObservationDate | date:'MM/dd HH:mm:ss.ss'}}
                                                                    </td>
                                                                    <td class="record-display-field-value" style="width: 150px;">
                                                                        {{tag.LastObservationTextValue}} {{::tag.JBTStandardObservation.Unit.Name}}
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

