<div class="chart-wrapper" style="width:100%; height: 100%">
    <div class="chart-inner" style="width:100%; height: 100%">
        <div ng-show="vm.showWidget" style="display: flex; width: 100%; height: 100%;">
            <div class="container" id="containerData{{vm.widget.Id}}" style="height 100%; width:{{vm.widget.WidgetResource.SplitLeftPercentage}}%; padding-left: 0; padding-right: 0;">

                <div id="repeater-container-data{{vm.widget.Id}}" ng-show="vm.showEntities" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                    <table class="table table-condensed table-striped widget-tag-data-table">
                        <thead>
                            <tr>
                                <th style="width: {{vm.columnWidths.name}}%">
                                    Name
                                </th>
                                <th style="width: {{vm.columnWidths.shortName}}%">
                                    Short Name
                                </th>
                                <th style="width: {{vm.columnWidths.description}}%">
                                    Description
                                </th>
                                <th style="width: {{vm.columnWidths.address}}%">
                                    Address
                                </th>
                                <th style="width: 55px; text-align: right;">
                                    &nbsp;
                                </th>
                            </tr>
                        </thead>
                        <tbody vs-repeatxxx vs-autoresize vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="overflow-y: scroll; height: 100px;">
                            <tr ng-repeat="entity in vm.entities | filter: vm.widget.searchText track by $index "
                                style="font-size: 1.2em; background: {{vm.entity && vm.entity.Id == entity.Id ? 'whitesmoke' : 'white'}}">

                                <td style="cursor: pointer; font-weight: bold;" ng-click="vm.selectEntity(entity)">
                                    {{entity.Name}}
                                </td>
                                <td style="cursor: pointer;" ng-click="vm.selectEntity(entity)">
                                    {{entity.ShortName}}
                                </td>
                                <td style="cursor: pointer;" ng-click="vm.selectEntity(entity)">
                                    {{entity.Description}}
                                </td>
                                <td style="cursor: pointer;" ng-click="vm.selectEntity(entity)">
                                    {{entity.Address}}
                                </td>
                                <td style="width: 55px; text-align: right;">
                                    <a class="btn btn-default"
                                       ng-click="vm.delete(entity)"
                                       style="width: 25px; padding-left: 3px; padding-right: 3px; padding-top: 0; padding-bottom: 0;">
                                        <i class="fa fa-times" aria-hidden="true" title="Delete {{vm.entityName}}" style="color: red"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>


            <div id="containerEdit{{vm.widget.Id}}" style="border-left: 1px solid lightgray; height: 100%; width:{{vm.widget.WidgetResource.SplitRightPercentage}}%;">
                <div style="position: relative; height: 100%; width: 100%;">

                    <div ng-show="vm.showEditPane" class="panel panel-primary static-panel widget-edit-panel">


                        <div class="panel-heading-widget-edit-pane"
                             id="panel-heading-edit-{{vm.widget.Id}}">


                            <div class='btn-toolbar pull-right' style="display: inline-block;">


                                <button ng-click="vm.saveEntity()" class="btn btn-default responsive-button tiny-button" style="margin-top: -3px;" title="Save">
                                    <i class="fa fa-save" aria-hidden="true" style="cursor: pointer;"></i>
                                </button>

                                <button ng-click="vm.cancelSaveEntity()" class="btn btn-default responsive-button tiny-button" style="margin-top: -3px;" title="Cancel">
                                    <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i>
                                </button>

                            </div>
                            {{vm.editPanelTitle}}
                        </div>


                        <div class="panel-body" id="widget-edit-pane-panel-body{{vm.widget.Id}}">

                            <form class="form-horizontal" role="form" name="{{vm.widget.Id}}-{{vm.entityName}}EditForm" id="{{vm.widget.Id}}-{{vm.entityName}}Form" novalidate>
                                <div class="row">
                                    <!--  Name -->
                                    <widget-text-input-field model="vm.editModel.Name"
                                                             label-text="Company Name"
                                                             id-text="{{vm.widget.Id}}-{{vm.entityName}}-{{vm.focusFieldName}}"
                                                             bootstrap-label-columns="{{vm.bootstrapLabelColumns}}"
                                                             bootstrap-input-columns="{{vm.bootstrapInputColumns}}">
                                    </widget-text-input-field>

                                    <!--  Short Name -->
                                    <widget-text-input-field model="vm.editModel.ShortName"
                                                             label-text="Short Name"
                                                             id-text="{{vm.widget.Id}}-ShortName"
                                                             bootstrap-label-columns="{{vm.bootstrapLabelColumns}}"
                                                             bootstrap-input-columns="{{vm.bootstrapInputColumns}}">
                                    </widget-text-input-field>


                                    <!-- Description -->
                                    <widget-textarea-input-field label-text="Description"
                                                                 cols="60"
                                                                 rows="4"
                                                                 id-text="{{vm.widget.Id}}-Description"
                                                                 bootstrap-label-columns="{{vm.bootstrapLabelColumns}}"
                                                                 bootstrap-input-columns="{{vm.bootstrapInputColumns}}"
                                                                 placeholder-text=""
                                                                 model="vm.editModel.Description"
                                                                 input-name="inputDescription">
                                    </widget-textarea-input-field>

                                    <!-- Address -->
                                    <widget-textarea-input-field label-text="Full Address"
                                                                 cols="60"
                                                                 rows="4"
                                                                 id-text="{{vm.widget.Id}}-Address"
                                                                 bootstrap-label-columns="{{vm.bootstrapLabelColumns}}"
                                                                 bootstrap-input-columns="{{vm.bootstrapInputColumns}}"
                                                                 placeholder-text=""
                                                                 model="vm.editModel.Address"
                                                                 input-name="inputAddress">
                                    </widget-textarea-input-field>
                                    
                                    <!-- Company Sites -->
                                    <div class="form-group">
                                        <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                            Associated Sites 
                                        </label>
                                        <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                            <label ng-repeat="site in vm.JBTData.Sites" style="margin: 1px;" class="btn btn-default" ng-model="vm.editModel.associatedSiteIds[site.Id]" uib-btn-checkbox="{{site.Id}}">{{site.Name}}</label>
                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>
                        <div ng-if="!vm.showEditPane" id="edit-pane-backdrop-{{vm.widget.Id}}" class="widget-edit-pane-backdrop noselect" style="font-size: 1em; text-align: left;">
                            <div style="width: 100%; color: gray;">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                Select {{vm.entityName}} to Edit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










