<div>
	<div class="panel panel-primary static-panel">
		<div class="panel-heading">
			<div class='btn-toolbar pull-right' style="display: inline-block;">
				<button ui-sref=".edit({ CompanyId: -1 })" class="btn btn-default responsive-button">Add New Company</button>
			</div>
			<div class="panel-heading-title">
				iOPS Companies
			</div>
			<div class="panel-heading-subtitle">
				{{vm.JBTData.Companies.length}} Total Count
			</div>

		</div>
		<div class="panel-body repeater-container" style="overflow: hidden; width: 100%">


			<table class="table table-hover table-responsive table-striped">
				<thead>
					<tr>
						<th style="width: {{vm.columnWidths.name}}%">
							Name
						</th>
						<th style="width: {{vm.columnWidths.shortName}}%">
							Short Name
						</th>
						<th style="width: {{vm.columnWidths.description}}%">
							Description
						</th>
						<th style="width: {{vm.columnWidths.address}}%">
							Address
						</th>
						<th style="width: {{vm.columnWidths.sitesList}}%">
							Associated Sites
						</th>
						<th style="width: 150px;">
							Actions
						</th>
					</tr>
				</thead>

				<tbody vs-repeat vs-excess="10" vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()">
					<tr ng-repeat="company in vm.companies | orderBy: 'Name'">

					    <td>
							{{company.Name}}
						</td>
					    <td>
							{{company.ShortName}}
						</td>
					    <td>
							{{company.Description}}
						</td>
					    <td>
							{{company.Address}}
						</td>
					    <td>
							{{company.sitesList}}
						</td>
						<td width="{{vm.buttonPanelWidth}}px">
							<div class="btn-group" style="width: {{vm.buttonPanelWidth}}]px; -moz-min-width: {{vm.buttonPanelWidth}}px; -ms-min-width: {{vm.buttonPanelWidth}}px; -o-min-width: {{vm.buttonPanelWidth}}px; -webkit-min-width: {{vm.buttonPanelWidth}}px; min-width: {{vm.buttonPanelWidth}}px">
								<a title="Edit Company"
								   class="btn btn-default responsive-button"
								   style="height: 37px; padding-top: 7px; width: 115px; min-width: 115px;"
								   ui-sref=".edit({ CompanyId: company.Id })">
									Edit
								</a>
								<a title="Delete Company"
								   class="btn btn-default responsive-button"
								   style="height: 37px; padding-top: 7px; width: 115px; min-width: 115px;"
								   ng-click="vm.delete(company)">
									Delete
								</a>
								
							</div>
						</td>
					</tr>

				</tbody>
			</table>

		</div>
		<div ui-view="contentPane"></div>
	</div>
</div>

