<div>
    <div class="panel panel-primary static-panel">
        <div class="panel-heading">
            <div class='btn-toolbar pull-right' style="display: inline-block;">
                <input type="text"
                       focus
                       id="searchInput"
                       name="searchInput"
                       ng-model="vm.searchText"
                       ng-model-options="{ debounce: 100 }"
                       placeholder="Type characters here to search."
                       class="form-control search-term responsive-button"
                       style="margin-left: 15px; width: 500px; display: inline-block; font-size: 1em;">
            </div>
            <div class="panel-heading-title">
                iOPS Tags
            </div>
            <div class="panel-heading-subtitle">
                {{vm.tags.length}} Total Count
            </div>

        </div>
        <div class="panel-body repeater-container" style="overflow: hidden; width: 100%">


            <table class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th style="width: {{vm.columnWidths.company}}%">
                            Site
                        </th>
                        <th style="width: {{vm.columnWidths.equipment}}%">
                            Equipment
                        </th>
                        <th style="width: {{vm.columnWidths.tagName}}%">
                            TagName
                        </th>
                        <th style="width: {{vm.columnWidths.observationName}}%">
                            Observation Name
                        </th>
                        <th style="width: {{vm.columnWidths.date}}%">
                            Last Observed Date
                        </th>
                        <th style="width: {{vm.columnWidths.value}}%">
                            Value
                        </th>
                        <th style="width: {{vm.columnWidths.dataChangeCount}}%">
                            Change Count
                        </th>
                    </tr>
                </thead>

                <tbody vs-repeat vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()">
                    <tr ng-repeat="tag in vm.tags" style="background-color: rgba(100, 255, 100, .{{tag.Metadata.LastUpdateCountDown}});">

                        <td>
                            {{tag.Asset.Company.Name}}
                        </td>
                        <td>
                            {{tag.Asset.Name}}
                        </td>
                        <td nowrap>
                            {{tag.Name}}
                        </td>
                        <td nowrap>
                            {{tag.JBTStandardObservation.Name}}
                        </td>
                        <td nowrap>
                            {{tag.Observation.Date |  date:'MM/dd HH:mm:ss.ss'}}
                        </td>
                        <td>
                            {{tag.Observation.ValueAsString}}
                        </td>
                        <td>
                            {{tag.Statistics.ChangeCount}}
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div ui-view="contentPane"></div>
    </div>
</div>

