<div class="row ps-title-bar">
    <div class="ps-logo-area col-sm-6">
        <img class="ps-icon" src="images/iops_logo_wide.png" />
        <div class="ps-title-area">
            <p class="ps-logo-title">iOPS</p>
            <p class="ps-logo-subtitle">All the Data, All the Time</p>
        </div>

        <div ng-if="vm.displaySetupService.menuParameters.isMenuButtonVisible" ng-click="vm.displaySetupService.menuParameters.menuButtonClicked()"
             class="ps-collapsed-menu pull-right">
            <button type="button" class="btn ps-nav-button">
                <i class="fa fa-bars"></i>
            </button>
        </div>

    </div>
    <div class='btn-toolbar pull-right' style="display: inline-block;">
        <button ng-click="vm.Logout()" class="btn btn-primary">Log Out</button>
    </div>
</div>