<script type="text/ng-template" id="menuTree">




    <!--Single Item Menu - Not a folder - not the AddDashboard choice-->
    <a ng-if="(menu.label != 'addDashboard' && !menu.children || menu.children.length == 0) && !menu.hideMenuChoice" title="{{menu.description}}" ng-click="vm.ActivateState(menu)">{{menu.label}}</a>


    <!--Non Dashboards Menu with populated folder of children menu items-->
    <a ng-if="menu.children && menu.children.length > 0 && !menu.hideMenuChoice" hef="#" data-toggle="collapse" data-target="#drilldown-{{menu.id}}" style="color: black; font-weight: bold;" ng-click="vm.ActivateState(menu)">{{menu.label}} ...</a>


    <ul ng-if="!menu.showChildren" ng-show="menu.children && menu.children.length > 0  && !menu.hideMenuChoice" id="drilldown-{{menu.id}}" class="nav nav-pills nav-stacked collapse" style="margin-left: 10px;">
        <li ng-repeat="menu in menu.children" ng-include="'menuTree'" style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;" ">
        </li>
    </ul>
    <ul ng-if="menu.showChildren" ng-show="menu.children && menu.children.length > 0  && !menu.hideMenuChoice" id="drilldown-{{menu.id}}" class="nav nav-pills nav-stacked collapse in" style="margin-left: 10px;">
        <li ng-repeat="menu in menu.children" ng-include="'menuTree'" style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;" ">
        </li>
    </ul>

</script>

<div class="panel panel-default" style="background-color: white; margin-bottom: 0; margin-left: 5px; margin-top: 5px;">
    <div class="panel-heading" style="background-color: #dedede; background: linear-gradient(to bottom, #cecece, #fefefe); height: 46px;">
        <div class='btn-toolbar pull-right' style="display: inline-block;">
            <button ui-sref="home.app.editDashboard({ DashboardId: -1 })"
                    class="btn btn-default responsive-button tiny-button" style="margin-top: -3px;" 
                    title="Create new dashboard">
                <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;"></i>
            </button>
        </div>
        My Dashboards
    </div>
    <div class="panel-body" style="padding: 5px; overflow: hidden; width:100%">
        <div ng-show="vm.noDashboardsMessage">{{vm.noDashboardsMessage}}</div>
        <table class="table table-condensed table-hover" style="margin-bottom: 0;" id="dashboardsTable">
            <tbody>
            <tr ng-repeat="dashboard in vm.dashboards" itemid="{{dashboard.Id}}">
                <td width="99%" style="border-top: none; cursor: pointer;" ui-sref=".dashboard({DashboardId: dashboard.Id})">
                    <span title="{{dashboard.Description}}">{{dashboard.Name}}</span>
                </td>
                <td nowrap style="border-top: none; cursor: pointer; text-align: right; width:100%">
                    <i ng-click="vm.deleteDashboard(dashboard)" class="fa fa-times" aria-hidden="true" title="Delete {{dashboard.Name}}" style="color:red"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<ul id="siteMenuBody" class="nav nav-pills nav-stacked" style="overflow-y: auto; height: 100%; overflow-x: hidden; background-color: white; padding-top: 15px;">

    <li ng-repeat="menu in vm.menu" ng-include="'menuTree'" style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;"></li>
</ul>




