<div ng-if="false" id="siteMenuPanelHeading" style="cursor: default; ">
    <div style="color: black;
			font-size: 1.2em;
			margin-left: 3px;
			background-color: #999;
			padding: 8px;
			-ms-border-radius: 3px;
			border-radius: 3px;
			-ms-border-radius: 3px;
			border-radius: 3px;
			-webkit-user-select: none;
			-moz-user-select:
				none; -ms-user-select: none;">
        {{vm.menuTitle}}
    </div>
</div>
<ul id="siteMenuBody" class="nav nav-pills nav-stacked" style="overflow-y: auto; height: 100%; overflow-x: hidden; background-color: white;">
    <li ng-repeat="link in vm.menu" style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;">
        <a ng-if="!link.children && !link.hideMenuChoice" title="{{link.description}}" ui-sref="{{link.state}}">{{link.label}}</a>

        <a ng-if="link.children && !link.hideMenuChoice" hef="#" data-toggle="collapse" data-target="#drilldown-{{link.id}}" style="color: black; font-weight: bold;">{{link.label}} ...</a>

        <ul ng-if="!link.showChildren" ng-show="link.children && !link.hideMenuChoice" id="drilldown-{{link.id}}" class="nav nav-pills nav-stacked collapse" style="margin-left: 10px;">
            <li ng-show="link.children && !link.hideMenuChoice" ng-repeat="subLink in link.children">
                <a ng-show="!subLink.children && !subLink.hideMenuChoice" title="{{subLink.description}}" ui-sref="{{subLink.state}}">{{subLink.label}}</a>
                <a ng-show="subLink.children && !subLink.hideMenuChoice" hef="#" data-toggle="collapse" data-target="#drilldown-{{subLink.id}}" style="margin-left: 20px; color: black;">{{subLink.label}}</a>
                <div ng-show="subLink.children && !subLink.hideMenuChoice" style="padding-left: 0;">
                    <ul ng-show="subLink.children && !subLink.hideMenuChoice" id="drilldown-{{subLink.id}}" class="nav nav-pills nav-stacked collapse">
                        <li ng-show="sublink.children && !subLink.hideMenuChoice" ng-repeat="subSubLink in subLink.children">
                            <a ng-show="!subSubLink.children && !subLink.hideMenuChoice" title="{{subSubLink.description}}" ui-sref="{{subSubLink.state}}">{{subSubLink.label}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul ng-if="link.showChildren" ng-show="link.children && !link.hideMenuChoice" id="drilldown-{{link.id}}" class="nav nav-pills nav-stacked collapse in" style="margin-left: 10px;">

            <li ng-show="link.children && !link.hideMenuChoice" ng-repeat="subLink in link.children">
                <a ng-show="!subLink.children && !subLink.hideMenuChoice" title="{{subLink.description}}" ui-sref="{{subLink.state}}">{{subLink.label}}</a>
                <a ng-show="subLink.children && !subLink.hideMenuChoice" hef="#" data-toggle="collapse" data-target="#drilldown-{{subLink.id}}" style="margin-left: 20px; color: black;">{{subLink.label}}</a>
                <div ng-show="subLink.children && !subLink.hideMenuChoice" style="padding-left:0;">
                    <ul ng-show="subLink.children && !subLink.hideMenuChoice" id="drilldown-{{subLink.id}}" class="nav nav-pills nav-stacked collapse in">
                        <li ng-show="sublink.children && !subLink.hideMenuChoice" ng-repeat="subSubLink in subLink.children">
                            <a ng-show="!subSubLink.children && !subLink.hideMenuChoice" title="{{subSubLink.description}}" ui-sref="{{subSubLink.state}}">{{subSubLink.label}}</a>

                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </li>
</ul>
