<div class="panel panel-primary static-panel" ng-class="vm.screenSwitchClass">
    <div ng-if="!vm.widget" class="panel-heading">
        <div class='btn-toolbar pull-right' style="display: -webkit-inline-box">

            <div class="btn-group" style="margin-right: 25px;">

                <a ng-click="vm.SetTimeScope(365)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 365}" title="Set time window to the last year back from now">
                    Year
                </a>
                <a ng-click="vm.SetTimeScope(180)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 180}" title="Set time window to the last 6 months back from now">
                    180d
                </a>
                <a ng-click="vm.SetTimeScope(90)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 90}" title="Set time window to the last 90 days back from now">
                    90d
                </a>
                <a ng-click="vm.SetTimeScope(30)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 30}" title="Set time window to the last 30 days back from now">
                    30d
                </a>
                <a ng-click="vm.SetTimeScope(7)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 7}" title="Set time window to the last week back from now">
                    7d
                </a>
                <a ng-click="vm.SetTimeScope(1)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 1}" title="Set time window to the last 24 hours back from now">
                    24h
                </a>
                <a ng-click="vm.SetTimeScope(0)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == 0}" title="Set time window to today since midnight">
                    Today
                </a>
                <a ng-click="vm.SetTimeScope(-1)" class="btn btn-default responsive-button mid-size-button" ng-class="{'radio-active': vm.dashboard.DashboardTimeScope.Days == -1}" title="Set time window to yesterday from midnight to midnight">
                    Yesterday
                </a>
            </div>

            <button ui-sref=".editDashboard({ DashboardId: vm.dashboard.Id})" class="btn btn-default responsive-button mid-size-button" title="Edit {{dashboard.Name}} settings (Name, Description, Date Range, etc)">
                Settings
            </button>

            <button ui-sref=".addWidget({ DashboardId: vm.dashboard.Id })" class="btn btn-default responsive-button mid-size-button">
                Add Widget
            </button>

            <button ng-if="vm.dashboard.tagsToGraph.length > 0" ng-click="vm.AddGraphWidgetToDashboard()" class="btn btn-default responsive-button mid-size-button">
                <i class="fa fa-line-chart" aria-hidden="true" title="Add graph widget from the selected tag values" style="cursor: pointer;"></i>
            </button>

            <button ng-if="!vm.fullscreen" ng-click="vm.ToggleFullScreen()" class="btn btn-default responsive-button mid-size-button" title="Expand To FULL Screen">
                <i ng-class="" class="glyphicon glyphicon-fullscreen"></i>
            </button>
            <button ng-if="vm.fullscreen" ng-click="vm.ToggleFullScreen()" class="btn btn-default responsive-button mid-size-button" title="Shrink To NORMAL Screen">
                <i class="glyphicon glyphicon-resize-small"></i>
            </button>





        </div>
        <div class="panel-heading-title">
            {{vm.dashboard.Name}}
        </div>
        <div class="panel-heading-subtitle">
            {{vm.dashboard.Description}} {{vm.subTitle}}
        </div>

    </div>
    <div ng-if="vm.dashboard" class="panel-body" style="overflow-x: auto; width: 100%; padding: 0; overflow-y: auto;">

        <div gridster="vm.gridsterOpts">
            <ul ng-if="vm.widgets">
                <li ng-repeat="widget in vm.widgets track by widget.Id" gridster-item="widget"  style="border: none;" id="gridster{{widget.Id}}">
                    <div class="panel panel-default" style="height: 100%; overflow-y: hidden;" id="widget-panel-heading{{widget.Id}}" ng-click="vm.LogWidget(widget)">
                        <div class="panel-heading" id="{{vm.dashboard.Id}}" style="cursor: move; font-size:.9em; padding-top:5px; height:30px; background: {{widget.displaySettings.headingBackground ? widget.displaySettings.headingBackground : 'linear-gradient(to bottom,#dedede, #fefefe)'}};">
                            

                            <div ng-if="!widget.WidgetResource.EmbeddedDashboardId" class='btn-toolbar pull-right' style="display: inline-block;">


                                <button ng-if="widget.tagsToGraph" ng-click="vm.AddTagsToSpecificWidgetGraph(widget)" class="btn btn-default responsive-button tiny-button" style="margin-top: -3px;" title="Add the selected data to this graph">
                                    + <i class="fa fa-line-chart" aria-hidden="true" style="cursor: pointer;"></i>
                                </button>

                                <i ng-if="widget.WidgetResource.WidgetType.HasSettings" ng-click="vm.openSettingsDash($event, widget)" class="fa fa-cog" aria-hidden="true" style="cursor: pointer; padding: 4px;"></i>


                                <i ui-sref=".editWidget({ WidgetId: widget.Id})" class="fa fa-pencil-square-o" aria-hidden="true" title="Edit widget {{widget.Name}}" style="cursor: pointer; padding: 4px;"></i>
                                <i title="Click = Delete widget from dashboard with confirmation&#13;DblClick = Delete widget from dashboard without confirmation" sglclick="vm.deleteWidget(widget, true)" ng-dblclick="vm.deleteWidget(widget, false)" class="fa fa-times" aria-hidden="true" title='Delete "{{widget.Name}}" widget' style="color: red; margin-left: 0; cursor: pointer; padding: 4px;"></i>
                            </div>
                            {{widget.Name}} {{widget.displaySettings.headingExtraTitle}}
                        </div>
                        <div class="panel-body" id="{{widget.Id}}" style="overflow-y: hidden; padding: 0; height: 100%;">
                            <bhs-current-alarms-table ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsCurrentAlarmsTable'" widget="widget" dashboard="vm.dashboard"></bhs-current-alarms-table>
                            <ticket-counter-throughput ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'ticketCounterThroughput'" widget="widget" dashboard="vm.dashboard"></ticket-counter-throughput>
                            <bhs-alarm-history-table ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsAlarmHistoryTable'" widget="widget" dashboard="vm.dashboard"></bhs-alarm-history-table>
                            <bhs-active-alarms ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsActiveAlarms'" widget="widget" dashboard="vm.dashboard"></bhs-active-alarms>
                            <bhs-read-rates-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsReadRatesSummary'" widget="widget" dashboard="vm.dashboard"></bhs-read-rates-summary>
                            <bhs-read-rates-history-chart ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsReadRatesHistoryChart'" widget="widget" dashboard="vm.dashboard"></bhs-read-rates-history-chart>
                            <bhs-bag-jams-with-history-chart ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsBagJamsWithHistoryChart'" widget="widget" dashboard="vm.dashboard"></bhs-bag-jams-with-history-chart>
                            <bhs-bag-dimensioner-read-accuracy-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsBagDimensionerReadAccuracySummary'" widget="widget" dashboard="vm.dashboard"></bhs-bag-dimensioner-read-accuracy-summary>
                            <bhs-system-bags-processed ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsSystemBagsProcessed'" widget="widget" dashboard="vm.dashboard"></bhs-system-bags-processed>
                            <bhs-top-five-alarm-durations ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsTopFiveAlarmDurations'" widget="widget" dashboard="vm.dashboard"></bhs-top-five-alarm-durations>
                            <bhs-top-five-alarm-types ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsTopFiveAlarmTypes'" widget="widget" dashboard="vm.dashboard"></bhs-top-five-alarm-types>
                            <bhs-top-five-alarm-areas ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsTopFiveAlarmAreas'" widget="widget" dashboard="vm.dashboard"></bhs-top-five-alarm-areas>
                            <bhs-top-five-jam-devices-with-count ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsTopFiveJamDevicesWithCount'" widget="widget" dashboard="vm.dashboard"></bhs-top-five-jam-devices-with-count>
                            <bhs-top-five-jam-devices-with-longest-duration ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsTopFiveJamDevicesWithLongestDuration'" widget="widget" dashboard="vm.dashboard"></bhs-top-five-jam-devices-with-longest-duration>
                            <bhs-percent-of-failsafe ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'bhsPercentOfFailsafe'" widget="widget" dashboard="vm.dashboard"></bhs-percent-of-failsafe>
                            <pca-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'pcaSummary'" widget="widget" dashboard="vm.dashboard" add-tags-to-graph-function="vm.AddTagsToGraph"></pca-summary>
                            <pbb-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'pbbSummary'" widget="widget" dashboard="vm.dashboard" add-tags-to-graph-function="vm.AddTagsToGraph"></pbb-summary>
                            <gpu-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gpuSummary'" widget="widget" dashboard="vm.dashboard" add-tags-to-graph-function="vm.AddTagsToGraph"></gpu-summary>
                            <tag-graph ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'tagGraph'" widget="widget" dashboard="vm.dashboard"></tag-graph>
                            <raw-tag-data-for-asset ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'rawTagDataForAsset'" widget="widget" dashboard="vm.dashboard" add-tags-to-graph-function="vm.AddTagsToGraph"></raw-tag-data-for-asset>
                            <iframe-widget ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'iframeWidget'" widget="widget" dashboard="vm.dashboard"></iframe-widget>
                            <terminal-overview ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'terminalOverview'" widget="widget" dashboard="vm.dashboard"></terminal-overview>
                            <site-active-alarms ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'siteActiveAlarms'" widget="widget" dashboard="vm.dashboard"></site-active-alarms>
                            <site-active-warnings ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'siteActiveWarnings'" widget="widget" dashboard="vm.dashboard"></site-active-warnings>
                            <site-gate-summary ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'siteGateSummary'" widget="widget" dashboard="vm.dashboard"></site-gate-summary>
                            <gs-reports ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gsReports'" widget="widget" dashboard="vm.dashboard"></gs-reports>
                            <gs-top-five-alarm-types-by-equipment ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gsTopFiveAlarmTypesByEquipment'" widget="widget" dashboard="vm.dashboard"></gs-top-five-alarm-types-by-equipment>
                            <gs-top-five-alarm-types ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gsTopFiveAlarmTypes'" widget="widget" dashboard="vm.dashboard"></gs-top-five-alarm-types>
                            <gs-equipment-usage ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gsEquipmentUsage'" widget="widget" dashboard="vm.dashboard"></gs-equipment-usage>
                            <gs-equipment-hours-of-usage ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'gsEquipmentHoursOfUsage'" widget="widget" dashboard="vm.dashboard"></gs-equipment-hours-of-usage>
                            <site-data-stream ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'siteDataStream'" widget="widget" dashboard="vm.dashboard"></site-data-stream>
                            

                            <!--<dashboard ng-if="widget.WidgetResource.WidgetType.AngularDirectiveName == 'dashboard'" widget="widget" dashboard="widget.WidgetResource.EmbeddedDashboard" dashboard-id="widget.WidgetResource.EmbeddedDashboard.Id"></dashboard>-->
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <div ui-view="contentPane"></div>

</div>

