<div class="chart-wrapper" style="width:100%; height: 100%" ng-click="vm.OpenSettingsIfNoAssetAndCloseIfAssetIsPresent()">
    <div class="chart-inner" style="width:100%; height: 100%">
        <div style="display: flex; width: 100%; height: 100%;" ng-show="vm.showWidget">
            <div class="container" id="containerData{{vm.widget.Id}}" style="height 100%; width:{{vm.widget.WidgetResource.SplitLeftPercentage}}%; padding-left: 0; padding-right: 0;">

                <ul class="nav nav-pills widget-tab-nav-button" id="nav-pills{{vm.widget.Id}}">
                    <li class="{{(!vm.widget.WidgetResource.DefaultNavPill || vm.widget.WidgetResource.DefaultNavPill == 'Amps') ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPill('Amps')" href="#amps{{vm.widget.Id}}">Amps</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Volts' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPill('Volts')" href="#volts{{vm.widget.Id}}">Volts</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Data' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPill('Data')" href="#data{{vm.widget.Id}}">Data</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Alarms' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPill('Alarms')" href="#alarms{{vm.widget.Id}}">Alarms</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Warnings' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPill('Warnings')" href="#warnings{{vm.widget.Id}}">Warnings</a></li>
                </ul>

                <div class="tab-content" id="tab-content{{vm.widget.Id}}" style="overflow-y: auto; height: 100px;">
                    <div id="amps{{vm.widget.Id}}" class="tab-pane fade{{(!vm.widget.WidgetResource.DefaultNavPill || vm.widget.WidgetResource.DefaultNavPill == 'Amps') ? ' in active' : ''}}" style="height: 100%; padding-bottom: 5px; overflow: hidden;">
                        <div class="flex-container" id="temperature-flex-container{{vm.widget.Id}}">
                            <div id="amps-meters{{vm.widget.Id}}" style="flex-basis: 100%; height: 100%; border: 3px solid white; overflow-x: hidden; overflow-y: auto;">
                                <linear-meter ng-if="vm.ampsInAverageDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="ampsInAverage{{vm.widget.Id}}"
                                              label="Amps In Average"
                                              units='amps'
                                              current-value="vm.ampsInAverage"></linear-meter>
                                <linear-meter ng-if="vm.ampsOutAverageDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="ampsOutAverage{{vm.widget.Id}}"
                                              label="Amps Out Average"
                                              units='amps'
                                              current-value="vm.ampsOutAverage"></linear-meter>
                                <linear-meter ng-if="vm.phaseAAmpsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="ampOutA{{vm.widget.Id}}"
                                              label="Phase A Amps Out"
                                              units='amps'
                                              current-value="vm.phaseAAmpsOut"></linear-meter>
                                <linear-meter ng-if="vm.phaseBAmpsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="ampOutB{{vm.widget.Id}}"
                                              label="Phase B Amps Out"
                                              units='amps'
                                              current-value="vm.phaseBAmpsOut"></linear-meter>
                                <linear-meter ng-if="vm.phaseCAmpsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="ampOutC{{vm.widget.Id}}"
                                              label="Phase C Amps Out"
                                              units='amps'
                                              current-value="vm.phaseCAmpsOut"></linear-meter>
                            </div>

                        </div>

                    </div>
                    <div id="volts{{vm.widget.Id}}" class="tab-pane fade{{vm.widget.WidgetResource.DefaultNavPill == 'Volts' ? ' in active' : ''}}" style="height: 100%; padding-bottom: 5px; overflow: hidden;">
                        <div class="flex-container">
                            <div id="volts-meters{{vm.widget.Id}}" style="flex-basis: 100%; height: 100%; border: 3px solid white; overflow-x: hidden; overflow-y: auto;">
                                <linear-meter ng-if="vm.voltsInAverageDataTag"
                                              min-scale="0"
                                              max-scale="600"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="500"
                                              high-range-end-value="600"
                                              id="voltsInAverage{{vm.widget.Id}}"
                                              label="Volts In Average"
                                              units='volts'
                                              current-value="vm.voltsInAverage"></linear-meter>
                                <linear-meter ng-if="vm.voltsOutAverageDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="voltsOutAverage{{vm.widget.Id}}"
                                              label="Volts Out Average"
                                              units='volts'
                                              current-value="vm.voltsOutAverage"></linear-meter>
                                <linear-meter ng-if="vm.phaseAVoltsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="voltsOutA{{vm.widget.Id}}"
                                              label="Phase A Volts Out"
                                              units='volts'
                                              current-value="vm.phaseAVoltsOut"></linear-meter>
                                <linear-meter ng-if="vm.phaseBVoltsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="voltsOutB{{vm.widget.Id}}"
                                              label="Phase B Volts Out"
                                              units='volts'
                                              current-value="vm.phaseBVoltsOut"></linear-meter>
                                <linear-meter ng-if="vm.phaseCVoltsOutDataTag"
                                              min-scale="0"
                                              max-scale="400"
                                              low-range-start-value="0"
                                              low-range-end-value="10"
                                              low-range-active-color="blue"
                                              high-range-active-color="red"
                                              normal-range-active-color="lightGreen"
                                              high-range-start-value="300"
                                              high-range-end-value="400"
                                              id="voltsOutC{{vm.widget.Id}}"
                                              label="Phase C Volts Out"
                                              units='volts'
                                              current-value="vm.phaseCVoltsOut"></linear-meter>
                            </div>

                        </div>
                    </div>
                    <div id="data{{vm.widget.Id}}" class="tab-pane fade{{vm.widget.WidgetResource.DefaultNavPill == 'Data' ? ' in active' : ''}}" style="overflow: auto;">
                        <div id="repeater-container-data{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped widget-tag-data-table" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer; width: 50%;"
                                            nowrap
                                            ng-click="vm.SetSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Name
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="cursor: pointer; width: 30%;"
                                            ng-click="vm.SetSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="cursor: pointer; width: 20%;">
                                            Value
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="tag in vm.gpu.Tags | filter: vm.tagFilterFunction  | orderBy: vm.widget.displaySettings.tagDataSortField"  ng-click="vm.tagClicked(tag)" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td>
                                            <label ng-click="vm.ProcessTagsToGraph()" class="btn btn-default graph-select-icon" ng-model="vm.tagsToGraph[tag.TagId]" uib-btn-checkbox="{{::tag.TagId}}">
                                                <i class="fa fa-line-chart" aria-hidden="true" title="Add to graph widget" style="cursor: pointer;"></i>
                                            </label>
                                            <span title="{{::tag.JBTStandardObservation.Id}}">{{::tag.JBTStandardObservation.Name}}</span>
                                        </td>
                                        <td>
                                            {{tag.PLCLocalDate | date:'MM/dd HH:mm:ss'}}
                                        </td>
                                        <td>
                                            {{tag.Value}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div id="alarms{{vm.widget.Id}}" class="tab-pane fade{{(!vm.widget.WidgetResource.DefaultNavPill || vm.widget.WidgetResource.DefaultNavPill == 'Alarms') ? ' in active' : ''}}" style="overflow: auto;">
                        <div id="repeater-container-alarms{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped widget-tag-data-table">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetAlarmSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.alarmSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.alarmSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>

                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetAlarmSortField('Severity')">
                                            <div>
                                                Severity
                                                <span ng-show="vm.alarmSortField=='-Severity'">
                                                    <i class="fa fa-sort-alpha-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.alarmSortField=='Severity'">
                                                    <i class="fa fa-sort-alpha-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>


                                        <th style="cursor: pointer;"
                                            ng-click="vm.SetAlarmSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Description
                                                <span ng-show="vm.alarmSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.alarmSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>

                                        <th ng-if="vm.canCloseAlarm" style="cursor: pointer; width: 1%;" nowrap>
                                            <div>
                                                &nbsp;
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-autoresize vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="alarm in vm.alarms | orderBy: vm.widget.displaySettings.alarmDataSortField | filter: vm.alarmFilterFunction" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td nowrap>{{alarm.PLCLocalDate | date:'MM/dd HH:mm:ss' : UTC}}</td>
                                        <td nowrap><div ng-class="{ 'pulsing': alarm.Severity == 'Critical'}" style="width: 1%;">{{alarm.Severity}}</div></td>
                                        <td nowrap>{{alarm.JBTStandardObservation.Name}}</td>
                                        <td ng-if="vm.canCloseAlarm">
                                            <a class="btn btn-default" ng-click="vm.closeAlarm(alarm)" style="width: 25px; padding-left: 3px; padding-right: 3px; padding-top:0; padding-bottom: 0;"><i class="fa fa-times" aria-hidden="true" title="Close alarm" style="color:red"></i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div id="warnings{{vm.widget.Id}}" class="tab-pane fade{{(!vm.widget.WidgetResource.DefaultNavPill || vm.widget.WidgetResource.DefaultNavPill == 'Warnings') ? ' in active' : ''}}" style="overflow: auto;">
                        <div id="repeater-container-warnings{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped widget-tag-data-table">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetWarningSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.warningSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.warningSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>

                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetWarningSortField('Severity')">
                                            <div>
                                                Severity
                                                <span ng-show="vm.warningSortField=='-Severity'">
                                                    <i class="fa fa-sort-alpha-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.warningSortField=='Severity'">
                                                    <i class="fa fa-sort-alpha-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>


                                        <th style="cursor: pointer;"
                                            ng-click="vm.SetWarningSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Description
                                                <span ng-show="vm.warningSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                                </span>
                                                <span ng-show="vm.warningSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>

                                        <th ng-if="vm.canCloseAlarm" style="cursor: pointer; width: 1%;" nowrap>
                                            <div>
                                                &nbsp;
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-autoresize vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="warning in vm.warnings | orderBy: vm.widget.displaySettings.warningDataSortField | filter:vm.alarmFilterFunction" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td nowrap>{{warning.PLCLocalDate | date:'MM/dd HH:mm:ss' : UTC}}</td>
                                        <td nowrap><div ng-class="{ 'pulsing': warning.Severity == 'Critical'}" style="width: 1%;">{{warning.Severity}}</div></td>
                                        <td nowrap>{{warning.JBTStandardObservation.Name}}</td>
                                        <td ng-if="vm.canCloseAlarm">
                                            <a class="btn btn-default" ng-click="vm.closeAlarm(warning)" style="width: 25px; padding-left: 3px; padding-right: 3px; padding-top:0; padding-bottom: 0;"><i class="fa fa-times" aria-hidden="true" title="Close alarm" style="color:red"></i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>


            <div id="containerGraphics{{vm.widget.Id}}" style="height: 100%;">
                <div style="position: relative; height: 100%; width: 100%;">


                    <img src="images/Blank-Placeholder.png" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    <img ng-src="{{vm.gpu.BaseUnitImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    <div ng-repeat="image in vm.AssetGraphics">
                        <img ng-if="image.showImage" ng-src="{{image.ImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    </div>
                    <div ng-if="vm.widget.displaySettings.obscureGraphics" style="position: absolute;top: 0px;left: 0px;height:100%;width:100%;background: #FFF;z-index: 3;opacity: 0.80;"></div>
                </div>
            </div>

        </div>
        <div ng-show="vm.widget.displaySettings.commLossTag.Value == '1'" class="comm-loss-backdrop noselect">
            <div class="comm-loss-message">
                Communication Lost
            </div>
        </div>
    </div>
</div>
