<div class="chart-wrapper" style="width:100%; height: 100%" ng-click="vm.OpenSettingsIfNoAssetAndCloseIfAssetIsPresent()">
    <div class="chart-inner" style="width:100%; height: 100%">
        <div style="display: flex; width: 100%; height: 100%;">
            <div class="container" id="containerData{{vm.widget.Id}}" style="font-size .8em; height 100%; width:{{vm.widget.WidgetResource.SplitLeftPercentage}}%; padding-left: 0; padding-right: 0;">

                <ul class="nav nav-pills" id="nav-pills{{vm.widget.Id}}" style="font-size: .7em; padding-bottom: 5px; border-bottom: 1px solid lightgray;">
                    <li class="{{(!vm.widget.WidgetResource.DefaultNavPill || vm.widget.WidgetResource.DefaultNavPill == 'Data') ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPillData()" href="#data{{vm.widget.Id}}">Data</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Alarms' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPillAlarms()" href="#alarms{{vm.widget.Id}}">Alarms</a></li>
                    <li class="{{vm.widget.WidgetResource.DefaultNavPill == 'Warnings' ? 'active' : 'xxx'}}"><a data-toggle="pill" ng-click="vm.SetDefaultNavPillWarnings()" href="#warnings{{vm.widget.Id}}">Warnings</a></li>
                </ul>

                <div class="tab-content" id="tab-content{{vm.widget.Id}}" style="font-family: Segoe UI; font-size: .8em; overflow-y: auto; height: 100px;">
                    <div id="data{{vm.widget.Id}}" class="tab-pane fade in active" style="overflow: auto;">
                        <div id="repeater-container-data{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped" style="font-family: Segoe UI; font-size: .8em;">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Name
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            Value
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="font-size: .8em; overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="tag in vm.pbb.Tags | orderBy: vm.widget.displaySettings.tagDataSortField" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td>
                                            <label ng-click="vm.ProcessTagsToGraph()" class="btn btn-default" style="height: 15px; max-height: 15px; font-size: .7em; width: 15px; max-width: 15px; padding: 0; padding-top: 2px; margin-top: -2px;" ng-model="vm.tagsToGraph[tag.TagId]" uib-btn-checkbox="{{tag.TagId}}">
                                                <i class="fa fa-line-chart" aria-hidden="true" title="Add to graph widget" style="cursor: pointer;"></i>
                                            </label>
                                            <span title="{{::tag.JBTStandardObservation.Id}}">{{::tag.JBTStandardObservation.Name}}</span>
                                        </td>
                                        <td nowrap>
                                            {{tag.PLCLocalDate | date:'MM/dd HH:mm:ss'}}
                                        </td>
                                        <td>
                                            {{tag.Value}}

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div id="alarms{{vm.widget.Id}}" class="tab-pane fade in active" style="overflow: auto;">
                        <div id="repeater-container-alarms{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped" style="font-family: Segoe UI; font-size: .8em;">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Name
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            Value
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="font-size: .8em; overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="tag in vm.pbb.Tags | orderBy: vm.widget.displaySettings.tagDataSortField" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td>
                                            <label ng-click="vm.ProcessTagsToGraph()" class="btn btn-default" style="height: 15px; max-height: 15px; font-size: .7em; width: 15px; max-width: 15px; padding: 0; padding-top: 2px; margin-top: -2px;" ng-model="vm.tagsToGraph[tag.TagId]" uib-btn-checkbox="{{tag.TagId}}">
                                                <i class="fa fa-line-chart" aria-hidden="true" title="Add to graph widget" style="cursor: pointer;"></i>
                                            </label>
                                            <span title="{{::tag.JBTStandardObservation.Id}}">{{::tag.JBTStandardObservation.Name}}</span>
                                        </td>
                                        <td nowrap>
                                            {{tag.PLCLocalDate | date:'MM/dd HH:mm:ss'}}
                                        </td>
                                        <td>
                                            {{tag.Value}}

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div id="warnings{{vm.widget.Id}}" class="tab-pane fade in active" style="overflow: auto;">
                        <div id="repeater-container-warnings{{vm.widget.Id}}" ng-show="vm.showTags" class="repeater-container" style="overflow-x: hidden; overflow-y: auto; width: 100%; height: {{vm.widgetDimensions.height - 10}}px;">
                            <table class="table table-condensed table-striped" style="font-family: Segoe UI; font-size: .8em;">
                                <thead>
                                    <tr>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('JBTStandardObservation.Name')">
                                            <div>
                                                Name
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='JBTStandardObservation.Name'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="cursor: pointer;"
                                            nowrap
                                            ng-click="vm.SetSortField('PLCLocalDate')">
                                            <div>
                                                Date
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='-PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-desc" title="Click to sort in descending order"></i>
                                                </span>
                                                <span ng-show="vm.widget.displaySettings.tagDataSortField=='PLCLocalDate'">
                                                    <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            Value
                                        </th>

                                    </tr>
                                </thead>
                                <tbody vs-repeat vs-scroll-parent=".repeater-container" vs-scrolled-to-end="vm.scrolledToEnd()" style="font-size: .8em; overflow-y: scroll; height: 100px;">
                                    <tr ng-repeat="tag in vm.pbb.Tags | orderBy: vm.widget.displaySettings.tagDataSortField" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                                        <td>
                                            <label ng-click="vm.ProcessTagsToGraph()" class="btn btn-default" style="height: 15px; max-height: 15px; font-size: .7em; width: 15px; max-width: 15px; padding: 0; padding-top: 2px; margin-top: -2px;" ng-model="vm.tagsToGraph[tag.TagId]" uib-btn-checkbox="{{tag.TagId}}">
                                                <i class="fa fa-line-chart" aria-hidden="true" title="Add to graph widget" style="cursor: pointer;"></i>
                                            </label>
                                            <span title="{{::tag.JBTStandardObservation.Id}}">{{::tag.JBTStandardObservation.Name}}</span>
                                        </td>
                                        <td nowrap>
                                            {{tag.PLCLocalDate | date:'MM/dd HH:mm:ss'}}
                                        </td>
                                        <td>
                                            {{tag.Value}}

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="containerGraphics{{vm.widget.Id}}" style="height: 100%;">
                <div style="position: relative; height: 100%; width: 100%;">


                    <img src="images/Blank-Placeholder.png" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    <img ng-src="{{vm.pbb.BaseUnitImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    <div ng-repeat="image in vm.AssetGraphics">
                        <img ng-if="image.showImage" ng-src="{{::image.ImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    </div>
                    <div ng-if="vm.widget.displaySettings.obscureGraphics" style="position: absolute;top: 0px;left: 0px;height:100%;width:100%;background: #FFF;z-index: 3;opacity: 0.80;"></div>
                </div>
            </div>

        </div>
    </div>
</div>
