<div class="chart-wrapper" style="width:100%; height: 100%">
    <div ng-if="vm.pca" class="chart-inner" style="width:100%; height: 100%">
        <div style="display: flex; width: 100%; height: 100%;">
            <div id="containerCharts{{vm.widget.Id}}" style="flex-basis: 70%; width: 70%; height: 100%; border-right: 1px solid gray; overflow-y: auto;">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>
                                Tag Name
                            </th>
                            <th>
                                Obs Name
                            </th>
                            <th>
                                Obs Id
                            </th>
                            <th>
                                Obs Value
                            </th>
                            <th>
                                Date
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in vm.pca.Tags" style="background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});background-color: {{tag.Metadata.Status.LastValueWasHistorical ? 'rgba(173, 173, 173,' : 'rgba(0, 255, 0,'}} .{{tag.Metadata.UpdateCountDowns.OneSecond}});">
                            <td>
                                {{tag.TagName}}
                            </td>
                            <td>
                                {{tag.JBTStandardObservation.Name}}
                            </td>
                            <td>
                                {{tag.JBTStandardObservation.Id}}
                            </td>
                            <td>
                                {{tag.LastObservationDate | date:'MM/dd HH:mm:ss.ss'}}
                            </td>
                            <td>
                                {{tag.LastObservationTextValue}}
                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
            <div id="containerGraphics{{vm.widget.Id}}" style="flex-basis: 30%; width: 30%; height: 100%;">
                <div style="position: relative; height: 100%; width: 100%;">
                    <img ng-src="{{vm.pca.BaseUnitImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    <div ng-repeat="image in vm.AssetGraphics">
                        <img ng-if="image.showImage" ng-src="{{image.ImageURL}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>













<!--Settings Form Below-->


<div class="panel panel-info" style="display: none; position: fixed; z-index: 30; left: 20px; top: 0; width: 90%; border: 3px solid darkcyan;" id="widget-settings-{{vm.widget.WidgetResource.Id}}">

    <div class="panel-heading" style="min-height: 20px;">
        Asset Settings for {{vm.widget.Name}}
    </div>
    <div class="panel-body" style="overflow-x: hidden; background: linear-gradient(to bottom,#bebebe, #eeeeee);">
        <form class="form-horizontal" role="form" name="userForm" id="userForm" novalidate>
            <div class="row" style="padding: 20px;">


                <!-- Site - If the user has access to more than one -->
                <div class="form-group">
                    <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                        Site
                    </label>
                    <div class="col-sm-{{vm.bootstrapInputColumns}}">
                        <label ng-repeat="site in vm.userSites" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.SiteId" uib-btn-radio="{{site.Id}}">{{site.Name}}</label>
                    </div>
                </div>




                <!-- Site Terminals (if more than one) -->
                <div class="form-group" ng-show="vm.terminals.length > 0">
                    <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                        Terminal
                    </label>
                    <div class="col-sm-{{vm.bootstrapInputColumns}}">
                        <label ng-repeat="terminalSystem in vm.terminals" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.TerminalSystemId" uib-btn-radio="{{terminalSystem.Id}}">{{terminalSystem.Name}}</label>
                    </div>
                </div>

                <!-- Terminal Zones (if more than one) -->
                <div class="form-group" ng-show="vm.zones && vm.zones.length > 0">
                    <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                        Zone
                    </label>
                    <div class="col-sm-{{vm.bootstrapInputColumns}}">
                        <label ng-repeat="zoneSystem in vm.zones" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.ZoneSystemId" uib-btn-radio="{{zoneSystem.Id}}">{{zoneSystem.Name}}</label>
                    </div>
                </div>

                <!-- Zone Gates (if more than one) -->
                <div class="form-group" ng-show="vm.gates && vm.gates.length > 0">
                    <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                        Gate
                    </label>
                    <div class="col-sm-{{vm.bootstrapInputColumns}}">
                        <label ng-repeat="gateSystem in vm.gates" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.GateSystemId" uib-btn-radio="{{gateSystem.Id}}">{{gateSystem.Name}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




