<div>
    <div class="modal-backdrop"></div>
    <div class="modal-holder" autoscroll="false">
        <div>
            <div ng-show="vm.showScreen" class="panel panel-primary panel-centered-modal-floating" style="width: 1000px; height: 550px; overflow: hidden; ">


                <div class="panel-heading" style="font-size:.9em; padding-top:3px; padding-left: 5px; height:40px; min-height: 40px; max-height: 40px; background: {{vm.widget.displaySettings.headingBackground ? vm.widget.displaySettings.headingBackground : 'linear-gradient(to bottom,#dedede, #fefefe)'}};">
                    <div class='btn-toolbar pull-right' style="display: inline-block;">
                        
                        <input ng-if="vm.widget.displaySettings.headingSearchField"
                               type="text"
                               id="searchInput{{widget.Id}}"
                               name="searchInput"
                               ng-model="vm.widget.searchText"
                               ng-model-options="{ debounce: 100 }"
                               placeholder="Search....."
                               class="form-control responsive-button"
                               style="height:20px; width: 200px; display: inline-block; font-size: 1em; margin-bottom: 0;">

                        <button ui-sref="^" class="btn btn-default tiny-button responsive-button">Close</button>
                        <button ng-click="vm.AddToDashboard()" class="btn btn-default tiny-button responsive-button">Add to Dashboard</button>
                    </div>
                    <div class="panel-heading-small-title" style="color: black;">
                        {{vm.panelTitle}}
                    </div>
                    <div class="panel-heading-small-subtitle" style="color: rgb(108, 108, 108);">
                        {{vm.panelSubtitle}}
                    </div>

                </div>


                <div class="panel-body" id="{{vm.widget.Id}}">
                    <pca-summary widget="vm.widget" dashboard="vm.dashboard"></pca-summary>
                </div>
            </div>
        </div>
    </div>
</div>


