<div class="chart-wrapper" style="width:100%; height: 100%">
    <div class="chart-inner" style="width: 100%; height: 100%">
        <div style="display: flex; width: 100%; height: 40%;">
            <div style="flex-basis: 20%; width: 20%; height: 40%; font-size: {{vm.largeTextSize}}em; font-weight: bold; text-align: center;">
                {{vm.activeAlarms.length}}
            </div>
            <div id="containerSiteActiveAlarms{{vm.widget.Id}}" style="flex-basis: 80%; width: 80%; height: 10%;">
                Loading.....
            </div>

        </div>
        <div style="width: 100%; height: 60%; border-top: 1px solid gray;  overflow-y: auto;">
            <div  id="table-wrapper{{vm.widget.Id}}" ng-show="vm.activeAlarms" style="width: 100%;">
                <table id="table{{vm.widget.Id}}" class="table table-hover table-condensed">
                    <thead style="font-size: .8em;">
                        <tr>



                            <th style="cursor: pointer;"
                                nowrap
                                ng-click="vm.SetSortField('PLCLocalDate')">
                                <div>
                                    Date
                                    <span ng-show="vm.sortField=='-PLCLocalDate'">
                                        <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                    </span>
                                    <span ng-show="vm.sortField=='PLCLocalDate'">
                                        <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                    </span>
                                </div>
                            </th>

                            <th style="cursor: pointer;"
                                nowrap
                                ng-click="vm.SetSortField('Severity')">
                                <div>
                                    Severity
                                    <span ng-show="vm.sortField=='-Severity'">
                                        <i class="fa fa-sort-alpha-desc" title="Click to sort in ascending order"></i>
                                    </span>
                                    <span ng-show="vm.sortField=='Severity'">
                                        <i class="fa fa-sort-alpha-asc" title="Click to sort in ascending order"></i>
                                    </span>
                                </div>
                            </th>
                            

                            <th style="cursor: pointer;"
                                nowrap
                                ng-click="vm.SetSortField('Asset.ParentSystem.Name')">
                                <div>
                                    Gate
                                    <span ng-show="vm.sortField=='-Asset.ParentSystem.Name'">
                                        <i class="fa fa-sort-alpha-desc" title="Click to sort in ascending order"></i>
                                    </span>
                                    <span ng-show="vm.sortField=='Asset.ParentSystem.Name'">
                                        <i class="fa fa-sort-alpha-asc" title="Click to sort in ascending order"></i>
                                    </span>
                                </div>
                            </th>


                            <th style="cursor: pointer;"
                                nowrap
                                ng-click="vm.SetSortField('Asset.Name')">
                                <div>
                                    Asset
                                    <span ng-show="vm.sortField=='-Asset.Name'">
                                        <i class="fa fa-sort-alpha-desc" title="Click to sort in ascending order"></i>
                                    </span>
                                    <span ng-show="vm.sortField=='Asset.Name'">
                                        <i class="fa fa-sort-alpha-asc" title="Click to sort in ascending order"></i>
                                    </span>
                                </div>
                            </th>



                            <th style="cursor: pointer;"
                                nowrap
                                ng-click="vm.SetSortField('JBTStandardObservation.Name')">
                                <div>
                                    Description
                                    <span ng-show="vm.sortField=='-JBTStandardObservation.Name'">
                                        <i class="fa fa-sort-numeric-desc" title="Click to sort in ascending order"></i>
                                    </span>
                                    <span ng-show="vm.sortField=='JBTStandardObservation.Name'">
                                        <i class="fa fa-sort-numeric-asc" title="Click to sort in ascending order"></i>
                                    </span>
                                </div>
                            </th>

                            <th ng-if="vm.canCloseAlarm" style="cursor: pointer; width: 1%;" nowrap>
                                <div>
                                    &nbsp;
                                </div>
                            </th>



                        </tr>
                    </thead>
                    <tbody style="font-size: .75em; overflow-y: scroll;">
                        <tr ng-repeat="alarm in vm.activeAlarms | orderBy: vm.sortField track by $index" title="{{alarm.BHSName}}" class="no-select">
                            <td nowrap>{{alarm.PLCLocalDate | date:'MM/dd HH:mm:ss'}}</td>
                            <td nowrap><div ng-class="{ 'pulsing': alarm.Severity == 'Critical'}" style="width: 1%;">{{alarm.Severity}}</div></td>
                            <td nowrap>{{alarm.Asset.ParentSystem.Name}}</td>
                            <td>{{alarm.Asset.Name}}</td>
                            <td nowrap>{{alarm.JBTStandardObservation.Name}}</td>
                            <td ng-if="vm.canCloseAlarm"><a class="btn btn-default"  ng-click="vm.closeAlarm(alarm)" style="width: 25px; padding-left: 3px; padding-right: 3px; padding-top:0; padding-bottom: 0;"><i class="fa fa-times" aria-hidden="true" title="Close alarm" style="color:red"></i></a>                                
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





<!--Settings Form Below-->
<div class="panel panel-info" style="display: none; position: fixed; z-index: 30; left: 20px; top: 0; width: 90%; border: 3px solid darkcyan;" id="widget-settings-{{vm.widget.WidgetResource.Id}}">

    <div class="panel-heading" style="min-height: 20px;">
        Site Settings for {{vm.widget.Name}}
    </div>
    <div class="panel-body" style="overflow-x: hidden; background: linear-gradient(to bottom,#bebebe, #eeeeee);">
        <form class="form-horizontal" role="form" name="userForm" id="userForm" novalidate>
            <div class="row" style="padding: 20px;">


                <!-- Site - If the user has access to more than one -->
                <div class="form-group">
                    <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                        Site
                    </label>
                    <div class="col-sm-{{vm.bootstrapInputColumns}}">
                        <label ng-repeat="site in vm.userSites" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.SiteId" uib-btn-radio="{{site.Id}}">{{site.Name}}</label>
                    </div>
                </div>



            </div>
        </form>
    </div>
</div>

