<div class="chart-wrapper" style="width:100%; height: 100%" ng-click="vm.OpenSettingsIfNoSiteAndCloseIfSiteIsPresent()">
    <div class="chart-inner" style="width:100%; height: 100%">
        <div ng-show="vm.showWidget" style="display: flex; width: 100%; height: 100%;">
            <div style="position: relative; height: 100%;  padding: 15px;">
                <table class="table table-condensed noselect">
                    <tr>
                        <td style="border: none; width:130px; min-width: 130px;"></td>
                        <td ng-repeat="group in vm.gateTagGroups"
                            ng-click="vm.AddWidgetGroupToDashboard(group)"
                            title="Click = Add gate summary widgets to dashboard"
                            style="padding: 0; text-align: center; cursor: pointer; font-weight: bold; font-size: .9em; background-color: whitesmoke; border: 1px solid gray; width: 50px; min-width: 50px; max-width: 50px;">
                            <div style="width: 50px;">
                                {{group.GateName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: .9em; font-weight: bold;">
                            PBB
                        </td>
                        <td ng-repeat="group in vm.gateTagGroups" style="padding-left:5px; padding-right: 5px; padding-top: 3px; padding-bottom: 3px; border: 1px solid gray; width: 50px; min-width: 50px; max-width: 50px;">
                            <div sglclick="vm.OpenSummaryWidget(group.PBBUnitOnTag, $event)" 
                                 ng-dblclick="vm.AddToDashboard(group.PBBUnitOnTag, $event)" 
                                 title="Click = PBB Detailed Summary Popup&#13;DblClick = Add PBB Detailed Summary to this dashboard"   
                                 ng-if="group.GateSystem.PBBPresent" 
                                 ng-class="{ 'comm-loss-hatching': group.PBBAsset.CommLossTag.Value == '1'}"
                                 style="background-color: {{+group.PBBUnitOnTag.LastObservationTextValue == 1 ? '#00ff00' : '#dedede'}}; border:2px solid  {{group.PBBAsset.AlarmActiveTag && group.PBBAsset.CommLossTag.Value == '0' && +group.PBBAsset.AlarmActiveTag.ValueWhenActive == +group.PBBAsset.AlarmActiveTag.Value ? 'red' : 'lightblue'}}; height: 20px; width:40px; cursor:pointer;">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: .9em; font-weight: bold;">
                            PCA
                        </td>
                        <td ng-repeat="group in vm.gateTagGroups" style="padding-left:5px; padding-right: 5px; padding-top: 3px; padding-bottom: 3px; border: 1px solid gray; width: 50px; min-width: 50px; max-width: 50px;">
                            <div sglclick="vm.OpenSummaryWidget(group.PCAUnitOnTag)" 
                                 ng-dblclick="vm.AddToDashboard(group.PCAUnitOnTag, $event)" 
                                 title="Click = PCA Detailed Summary Popup&#13;DblClick = Add PCA Detailed Summary to this dashboard"   
                                 ng-if="group.GateSystem.PCAPresent" 
                                 ng-class="{ 'comm-loss-hatching': group.PCAAsset.CommLossTag.Value == '1'}"
                                 style="background-color: {{+group.PCAUnitOnTag.LastObservationTextValue == 1 ? '#00ff00' : '#dedede'}}; border:2px solid  {{group.PCAAsset.AlarmActiveTag && group.PCAAsset.CommLossTag.Value == '0'  && +group.PCAAsset.AlarmActiveTag.ValueWhenActive == +group.PCAAsset.AlarmActiveTag.Value ? 'red' : 'lightblue'}}; height: 20px; width: 40px; cursor:pointer;">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: .9em; font-weight: bold;">
                            GPU
                        </td>
                        <td ng-repeat="group in vm.gateTagGroups" style="padding-left:5px; padding-right: 5px; padding-top: 3px; padding-bottom: 3px; border: 1px solid gray; width: 50px; min-width: 50px; max-width: 50px;">
                            <div sglclick="vm.OpenSummaryWidget(group.GPUUnitOnTag, $event)"
                                 ng-dblclick="vm.AddToDashboard(group.GPUUnitOnTag, $event)"
                                 title="Click = GPU Detailed Summary Popup&#13;DblClick = Add GPU Detailed Summary to this dashboard"
                                 ng-if="group.GateSystem.GPUPresent"
                                 ng-class="{ 'comm-loss-hatching': group.GPUAsset.CommLossTag.Value == '1'}"
                                 style="background-color: {{+group.GPUUnitOnTag.LastObservationTextValue == 1 ? '#00ff00' : '#dedede'}}; border:2px solid  {{group.GPUAsset.AlarmActiveTag && group.GPUAsset.CommLossTag.Value == '0'  && +group.GPUAsset.AlarmActiveTag.ValueWhenActive == +group.GPUAsset.AlarmActiveTag.Value ? 'red' : 'lightblue'}}; height: 20px; width:40px; cursor:pointer;">
                                &nbsp;
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: .9em; font-weight: bold;">
                            Disch Temp
                        </td>
                        <td ng-repeat="group in vm.gateTagGroups"
                            style="text-align: right; background-color: white; border: 1px solid gray; font-weight: bold; width: 50px; min-width: 50px; max-width: 50px;">
                            <div style="width: 40px;">
                                {{group.DischargeTemperatureTag.DisplayValue}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: .9em; font-weight: bold;">
                            Avg Amps Out
                        </td>
                        <td ng-repeat="group in vm.gateTagGroups"
                            style="text-align: right; background-color: white; border: 1px solid gray; font-weight: bold; width: 50px; min-width: 50px; max-width: 50px;">
                            <div style="width: 40px;">
                                {{group.AverageAmpsOutTag.DisplayValue}}
                            </div>
                        </td>
                    </tr>


                </table>

            </div>

        </div>
    </div>
</div>
