<!--

Types:

S = Site
ST = Site and Terminal
STZ = Site, Terminal, and Zone
STZG = Site, Terminal, Zone, and Gate
STZGA = Site, Terminal, Zone, Gate, and Asset
BHS = Baggage Handling System





-->










<div>
    <div class="modal-backdrop"></div>
    <div class="modal-holder" autoscroll="false">
        <div>
            <div ng-show="vm.showScreen" class="panel panel-primary panel-centered-modal-floating" style="width: 800px;">


                <div class="panel-heading">
                    <div class='btn-toolbar pull-right' style="display: inline-block;">
                        <button ui-sref="^" class="btn btn-default responsive-button">Close</button>
                    </div>
                    <div class="panel-heading-title">
                        {{vm.panelTitle}}
                    </div>
                    <div class="panel-heading-subtitle">
                        {{vm.panelSubtitle}}
                    </div>

                </div>


                <div class="panel-body" style="overflow-x: hidden; background: linear-gradient(to bottom,#bebebe, #eeeeee);">
                    <form class="form-horizontal" role="form" name="userForm" id="userForm" novalidate>
                        <div class="row" style="padding: 20px;">


                            <!-- Site - If the user has access to more than one -->
                            <div ng-if="vm.selectSite" class="form-group">
                                <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                    Site
                                </label>
                                <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                    <label ng-repeat="site in vm.userSites" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.SiteId" uib-btn-radio="{{site.Id}}">{{site.Name}}</label>
                                </div>
                            </div>

                            <!-- Site Terminals (if more than one) -->
                            <div ng-if="vm.selectTerminal" class="form-group">
                                <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                    Terminal
                                </label>
                                <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                    <label ng-repeat="terminalSystem in vm.terminals" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.TerminalSystemId" uib-btn-radio="{{terminalSystem.Id}}">{{terminalSystem.Name}}</label>
                                </div>
                            </div>

                            <!-- Terminal Zones (if more than one) -->
                            <div ng-if="vm.selectZone" class="form-group" ng-show="vm.zones && vm.zones.length > 0">
                                <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                    Zone
                                </label>
                                <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                    <label ng-repeat="zoneSystem in vm.zones" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.ZoneSystemId" uib-btn-radio="{{zoneSystem.Id}}">{{zoneSystem.Name}}</label>
                                </div>
                            </div>

                            <!-- Zone Gates (if more than one) -->
                            <div ng-if="vm.selectGate" class="form-group" ng-show="vm.gates && vm.gates.length > 0">
                                <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                    Gate
                                </label>
                                <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                    <label ng-repeat="gateSystem in vm.gates" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.GateSystemId" uib-btn-radio="{{gateSystem.Id}}">{{gateSystem.Name}}</label>
                                </div>
                            </div>

                            <!-- Gate Asset (if more than one) -->
                            <div ng-if="vm.selectAsset" class="form-group" ng-show="vm.assets && vm.assets.length > 0">
                                <label class="col-sm-{{vm.bootstrapLabelColumns}} control-label innovation-right-aligned">
                                    Asset
                                </label>
                                <div class="col-sm-{{vm.bootstrapInputColumns}}">
                                    <label ng-repeat="asset in vm.assets" style="margin: 1px;" class="btn btn-default" ng-model="vm.widget.WidgetResource.AssetId" uib-btn-radio="{{asset.Id}}">{{asset.Name}}</label>
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


