<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="PersonnelEntities" 
				 connectionString="metadata=res://*/Models.PersonnelModel.csdl|res://*/Models.PersonnelModel.ssdl|res://*/Models.PersonnelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=Personnel;persist security info=True;user id=PersonnelReader;password=Pimmer99$;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
				 providerName="System.Data.EntityClient"  
				 xdt:Transform="SetAttributes" 
				 xdt:Locator="Match(name)"/>
		
		<add name="FileImageLibraryEntities" 
				 connectionString="metadata=res://*/Models.FileImageLibraryModel.csdl|res://*/Models.FileImageLibraryModel.ssdl|res://*/Models.FileImageLibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012.utmb.edu;initial catalog=Clinrep;persist security info=True;user id=Clinrep_user;password=Pimmer99$;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
				 providerName="System.Data.EntityClient"  
				 xdt:Transform="SetAttributes" 
				 xdt:Locator="Match(name)"/>

	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />

	</system.web>
</configuration>