<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="OdataEntities" connectionString="metadata=res://*/EF.OdataModel.csdl|res://*/EF.OdataModel.ssdl|res://*/EF.OdataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=odataprod.utmb.edu;initial catalog=Personnel;persist security info=True;user id=PersonnelAdmin;password=LDAP9r72043t24t048h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OdataEntities_iprodsql1" connectionString="metadata=res://*/EF.OdataModel.csdl|res://*/EF.OdataModel.ssdl|res://*/EF.OdataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iprodsql1.utmb.edu;initial catalog=Personnel;persist security info=True;user id=PersonnelAdmin;password=LDAP9r72043t24t048h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OdataEntities_odataprod" connectionString="metadata=res://*/EF.OdataModel.csdl|res://*/EF.OdataModel.ssdl|res://*/EF.OdataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=odataprod.utmb.edu;initial catalog=Personnel;persist security info=True;user id=PersonnelAdmin;password=LDAP9r72043t24t048h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OdataEntities_itestsql1" connectionString="metadata=res://*/EF.OdataModel.csdl|res://*/EF.OdataModel.ssdl|res://*/EF.OdataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itestsql1.utmb.edu;initial catalog=Personnel;persist security info=True;user id=PersonnelAdmin;password=LDAP972h43tgdwe9y;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OdataEntities_pimmer" connectionString="metadata=res://*/EF.OdataModel.csdl|res://*/EF.OdataModel.ssdl|res://*/EF.OdataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=Personnel;persist security info=True;user id=PersonnelAdmin;password=LDAP452347y60925;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EISTOOLSEntities" connectionString="metadata=res://*/EF.HistoryModel.csdl|res://*/EF.HistoryModel.ssdl|res://*/EF.HistoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMSXPROD\USERXPROD;initial catalog=LDAP_Person_Cache;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProviderClinrepEntities" connectionString="metadata=res://*/EF.myUTMBProviderModel.csdl|res://*/EF.myUTMBProviderModel.ssdl|res://*/EF.myUTMBProviderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iprodsql1;initial catalog=Clinrep;persist security info=True;user id=Clinrep_User;password=~C|!nr3p_U$3rPWD~;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>